* {
    padding: 0;
    margin: 0;
}
.container {
    height: 100vh ;
    width: 100vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.form {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.form > input, .form > select , .form > button {
    padding: 10px;
    border: none ;
    border-radius: 10px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table, th, td {
    padding:5px 10px;
    border: 1px solid #ededed;
}

.form:valid > button {
    background-color: blue;
    color: white ;
}